<div class="container">
    <div class="row">
        <img src="./src/images/follow-img-1.png" class="img img-1" width="280" alt="#">
        <div class="content">
            <h2 class="title bigger-text">Follow Us On Instagram <span class="title-span">#YOGA</span></h2>
        </div>
        <img src="./src/images/follow-img-2.png" class="img img-2" width="280" alt="#">
    </div>
    <div class="row">
        <img src="./src/images/follow-img-3.png" class="img img-3" width="500" alt="#">
        <img src="./src/images/follow-img-4.png" class="img img-4" width="500" alt="#">
    </div>
</div>