<div class="container">
    <div class="footer-main-content">
        <div class="logo-wrapper">
            <a href="./index.html" class="logo">Yoga</a>
            <p>
                Take care of your health and your mind with the best Yoga classes.
            </p>
        </div>
        <ul class="address-content-list">
            <li class="address-content-item">
                <h2>Address</h2>
                <p>12345 M/01 Sol Avenue, Lima, Peru</p>
            </li>
            <li class="address-content-item">
                <h2>Contact</h2>
                <p>
                    <a href="tel:++123 456 7890">+123 456 7890</a> <br>
                    <a href="mailto:yoga@email.com">yoga@email.com</a>
                </p>
            </li>
            <li class="address-content-item">
                <h2>Office</h2>
                <p>Monday - Saturday <br> 9AM - 10PM</p>
            </li>
        </ul>
    </div>
    <div class="footer-copyright-content">
        <ul class="social-list">
            <li class="social-item"><img src="#" alt="#"></li>
            <li class="social-item"><img src="#" alt="#"></li>
            <li class="social-item"><img src="#" alt="#"></li>
            <li class="social-item"><img src="#" alt="#"></li>
        </ul>
        <p> &copy;
            Copyright Bedimcode. All rights reserved
        </p>
    </div>
</div>