<div class="container">
    <a href="index.html" class="logo">Yoga</a>
    <nav class="navbar">
        <ul class="nav-list">
            <li class="nav-item">
                <a href="#home" class="nav-link"> Home </a>
            </li>
            <li class="nav-item">
                <a href="#health" class="nav-link"> Health </a>
            </li>
            <li class="nav-item">
                <a href="#routine" class="nav-link"> Routine </a>
            </li>
            <li class="nav-item">
                <a href="#follow" class="nav-link"> Follow </a>
            </li>
        </ul>
    </nav>
    <div class="nav-actions">
        <button type="button" class="nav-button" id="page-theme-toggle">
            <img src="./src/images/ri_moon-line.svg" class=" " id="page-theme-toggle-dark-icon"
                alt="Page Dark/Light Theme Toggle">

        </button>
        <button type="menu" class="nav-button hide" id="navbar-toggle">
            <img src="./src/images/ri_apps-line.svg" alt="Sidebar Toggle">
        </button>
    </div>
</div>