<div class="container">
    <div class="media">
        <img src="./src/images/health-img.png" width="500" alt="Health Image">

    </div>
    <div class="content">
        <h2 class="bigger-text">
            Bring Happiness To <br>
            Good Health!
        </h2>
        <p>If you take care of your good health, take care of your mentality and lead a healthy life with positive
            thoughts every
            day.</p>

        <button class="page-btn">Let’s Start ></button>
    </div>
</div>