<div class="container">
    <div class="media">
        <img src="./src/images/health-img.png" width="500" alt="Health Image">
        <div class="badge rate">
            <span class="title">Heart Rate</span>
            <span class="count">168 rpm</span>
        </div>
        <div class="badge courses">
            <span class="count">500+</span>
            <span class="title">Free Courses</span>
        </div>
    </div>
    <div class="content">
        <h2 class="bigger-text">
            Bring Happiness To <br>
            Good Health!
        </h2>
        <p>If you take care of your good health, take care of your mentality and lead a healthy life with positive
            thoughts every
            day.</p>

        <button class="page-btn">Let’s Start ></button>
    </div>
</div>