<div class="container">
    <div class="content">
        <div class="title-box">
            <h1 class="title biggest-text">
                Choose Your
                Best <span class="title-span">Yoga</span>
                Teacher
            </h1>
            <img src="./src/images/home-star.svg" id="star" alt="Home Star" width="95">
            <img src="./src/images/home-circle.svg" id="circle" alt="Home Circle" width="24">
            <h4 class="subTitle">
                Calm your mind and body with the best yoga teachers available, relax your day and stay positive.
            </h4>
        </div>
    </div>
    <div class="main">
        <img src="./src/images/home.png" width="600" height="802" alt="home photo">
    </div>
</div>