<div class="container">
    <div class="content">
        <h3 class="big-text">Join our newsletter</h3>
        <p>Subscribe to our newsletter to be aware of many things on discounts, gifts, training and much more. Just
            enter your
            email.</p>
        <form action="#">
            <div class="input-group">
                <input type="email" class="input" name="mail" id="mail" placeholder="For latest update send mail">
                <input type="submit" class="button" value="Subscribe >">
            </div>
        </form>
    </div>
</div>