<div class="container">
    <div class="media">
        <h3 class="listId">#01</h3>
        <img src="./src/images/list-yoga.png" width="350" alt="list-yoga-image">
        <span class="img-span"></span>
    </div>
    <div class="content">
        <img src="./src/images/liststar-2.png" id="starts" width="64" alt="list-yoga-text-star-icon">
        <p>
            Get a list of specific influencers in your niche at your fingertips so you can focus on managing your
            status.
        </p>
        <div class="btn-box">
            <button class="btn">
                Next >
            </button>
        </div>
    </div>
</div>